html {
    height:100%;
}

body {
    background-color: #e1f5fe;
}

.form {
    margin-top: 5px;
}

.container-fluid {
    width: 1000px !important;
}

#mainContainer {
    margin-top: 80px;
}

#mainHeading {
  position:relative;
  top: 17px;
  color: white !important
}

#btn2 {
    width: 1000px;
}

#img {
    width:250px;
    height:250px;
}

#topBar {
  background-color:#43a047;
  height:75px;
}

#logInForm {
  margin-top: 21px;
}

#signInInputEmail {
  width: 175px !important;
}

#signInInputPwd {
  width: 125px !important;
}
