{% extends 'mainApp/topBarWithSearch.html' %}

{% block extra_head %}
    <link rel="stylesheet" href="/static/css/book.css">
    <link rel="stylesheet" href="/static/css/common.css">
{% endblock %}


{% block content %}

    <div class="container-fluid centerAlign" style="margin-top: 100px;">

        <div style="margin-bottom: 25px !important; overflow: hidden;">
            <div style="float: left;">
                <img src="/static/assets/img/{{ tutor.user.avatar }}" alt=""
                     style="width:50px; height: 50px; border-radius: 50%;">
                <span style="margin-left: 15px;"><strong>{{ tutor.user.name }}</strong></span>
            </div>
            {% load custom_tags %}
            <span style="float: right; margin-top: 15px;"><strong> Charges:
                {% if tutor.rate %}
                    {% if tutor.rate == 0 %}
                        No Charge!
                    {% else %}
                        HKD{{ tutor.rate|mult:"1.05" }}
                    {% endif %}
                {% else %}
                    No Charge!
                {% endif %}
            </strong></span>
        </div>

        <table class="table table-sm table-bordered table-hover" style="width: 1000px !important;">
            <thead>
            <tr>
                <th>Day</th>
                {% for slot in slotsToRender %}
                    <th>{{ slot }}</th>
                {% endfor %}

            </tr>
            </thead>
            <tbody>
            {% for date in dates %}
                <tr>
                    <th scope="row" style="text-align: center">
                        {#                        <div class="col-5" style="display: inline-block; margin-left: 0px; margin-right: 0px; padding: 0px">{{ date.weekday }},</div>#}
                        {#                        <div class="col-2" style="display: inline-block; margin-left: 0px; margin-right: 0px; padding: 0px">{{ date.day }}</div>#}
                        {#                        <div class="col-2" style="display: inline-block; margin-left: 0px; margin-right: 0px; padding: 0px">{{ date.month }} </div>#}
                        {{ date.weekday }}, {{ date.day }} {{ date.month }}
                    </th>
                    {{ date.row | safe }}
                </tr>

            {% endfor %}
            </tbody>
        </table>

        <a data-toggle="modal" data-target=".modal" style="margin-bottom: 30px;">
            <button class="btn btn-info btn-lg">Proceed</button>
        </a>

        <div class="modal fade bd-example-modal-sm">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Confirm Booking!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h6>Tutor:</h6>
                        <p><img src="/static/assets/img/{{ tutor.user.avatar }}" alt=""
                                style="width:50px; height: 50px; border-radius: 50%;"></p>
                        <p>{{ tutor.user.name }}</p>

                        <h6>Charges:</h6>
                        <p>
                            {% if tutor.rate %}
                                {% if tutor.rate == 0 %}
                                    No Charge!
                                {% else %}
                                    HKD{{ tutor.rate|mult:"1.05" }}
                                {% endif %}
                            {% else %}
                                No Charge!
                            {% endif %}
                        </p>
                        <h6>Time:</h6>
                        <p id="bookingTime"></p>
                        <br>
                        <div class="alert alert-info"><strong>Please confirm if you want to book. The charges will also
                            be deducted from your wallet once you confirm and book.</strong></div>
                        <div class="alert alert-info" style="display: none", id="processing">Processing Request</div>

                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" onclick="confirm()">I Want To Book!
                        </button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block extra_script %}
    <script type="text/javascript">
        var selectedDay = "";
        var selectedSlot = "";
        $('#bookingTime').html("<div class='alert alert-danger' role='alert'><strong>No Time Slot Selected</strong></div>");
        $('.table td').click(function () {
            if ($(this).attr('class') == "available") {
                $('.table td').each(function (i, obj) {
                    if ($(this).attr('class') == "available") {
                        $(this).css('background-color', 'inherit');
                    }
                });
                $(this).css('background-color', 'green');
                //alert($(this).attr('id').slice(0,3));
                //alert($(this).attr('id').slice(3,));
                selectedDay = $(this).attr('id').slice(0, 6);
                selectedSlot = $(this).attr('id').slice(6,);
                {#                alert(selectedSlot.slice(1, 6));#}
                if (selectedSlot == "") {
                    $('#bookingTime').html("<div class='alert alert-danger' role='alert'><strong>No Time Slot Selected</strong></div>");
                } else {
                    {% if tutor|isPrivate == True %}
                        $('#bookingTime').html(selectedDay + ", " + selectedSlot.slice(1, 3) + ":00 - " + (parseInt(selectedSlot.slice(1, 3)) + 1) + ":00");
                    {% else %}
                        if (selectedSlot.slice(4, 6) == "00") {
                            $('#bookingTime').html(selectedDay + ", " + selectedSlot.slice(1, 3) + ":00 - " + (parseInt(selectedSlot.slice(1, 3))) + ":30");
                        } else {
                            $('#bookingTime').html(selectedDay + ", " + selectedSlot.slice(1, 3) + ":30 - " + (parseInt(selectedSlot.slice(1, 3)) + 1) + ":00");
                        }
                    {% endif %}
                }
            }
        });

        function confirm() {
            if (selectedSlot != "") {
                $('#processing').show();
                $.get('confirmbooking', {
                    tutorid: "{{ tutor.id }}",
                    date: selectedDay,
                    time: selectedSlot.slice(1, 6)
                }, function (response) {
                    if (response.status == 'success') {
                        window.location.replace('confirmation/' + response.booking);
                    }
                    if (response.status == 'fail') {
                        alert(response.message);
                        window.location.reload();
                    }
                });
            } else {
                alert("Please Select a timeslot!");
                window.location.reload();
            }

        }
    </script>
{% endblock %}

