{% extends 'mainApp/topBarWithSearch.html' %}

{% block extra_head %}
<link rel="stylesheet" href="/static/css/bookings.css">
<link rel="stylesheet" href="/static/css/common.css">
{% endblock %}


{% block content %}
<div class="container-fluid" style="margin-top:115px; width:800px;">

    <h1 class="centerAlign">Upcoming Bookings</h1>

    <ul class="list-group" style="width:800px;">
        <li class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
                <h6 class="mb-1">Monday, 16th Oct:</h6>
                <a href="">
                    <small style="color:green">Cancel</small>
                </a>
            </div>
            <p class="mb-1"><img src="/static/assets/img/zuko.png" alt="" id="tutorPic"> <a href=""><span
                    style="margin-left:20px;">Prince Zuko:</span></a><span style="margin-left:20px;">13:30-14:00</span>
            </p>
        </li>
    </ul>

    <br><br>

    <h1 class="centerAlign">Past Bookings</h1>

    <ul class="list-group" style="width:800px;">
        <li class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
                <h6 class="mb-1">Monday, 9th Oct:</h6>
            </div>
            <p class="mb-1"><img src="/static/assets/img/Katara.png" alt="" id="tutorPic"> <a href=""><span
                    style="margin-left:20px;">Katara:</span></a><span style="margin-left:20px;">14:30-15:00</span></p>
        </li>
        <li class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
                <h6 class="mb-1">Saturday, 7th Oct:</h6>
            </div>
            <p class="mb-1"><img src="/static/assets/img/toph.png" alt="" id="tutorPic"> <a href=""><span
                    style="margin-left:20px;">Toph:</span></a><span style="margin-left:20px;">15:30-16:00</span></p>
        </li>
    </ul>

</div>
{% endblock %}