{% extends 'mainApp/topBarWithSearch.html' %}

{% block extra_head %}
    <link rel="stylesheet" href="/static/css/bookings.css">
    <link rel="stylesheet" href="/static/css/common.css">
{% endblock %}


{% block content %}
    <div class="container-fluid" style="margin-top:115px; width:800px;">

        {% load custom_tags %}
        {% if isStudent == 1 %}
            <h2 class="centerAlign">Your Upcoming Learning Sessions:</h2>
            {% if student_bookings|length == 0 %}
                <div style="text-align: center"><h3>You have no upcoming learning sessions</h3></div>
            {% endif %}
            <ul class="list-group" style="width:800px; margin-bottom: 50px;">
                {% for booking in student_bookings %}
                    <li class="list-group-item">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1">{{ booking.date }}:</h6>
                            {% if booking|isCancellable %}
                                <a href="" data-link="/mainApp/cancel/{{ booking.id }}" class="cancelbtn"
                                   data-toggle="modal" data-target="#myModal">
                                    <small style="color:green">Cancel</small>
                                </a>
                            {% endif %}
                        </div>
                        <p class="mb-1"><img src="{{ MEDIA_URL }}{{ booking.tutor.user.avatar }}" alt=""
                                             id="tutorPic"> <a href=""><span
                                style="margin-left:20px;">{{ booking.tutor.user.name }}:</span></a><span
                                style="margin-left:20px;">{{ booking.time_start }}</span>
                        </p>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}


        {% if isTutor == 1 %}
            <h2 class="centerAlign">Your Upcoming Teaching Sessions:</h2>
            {% if tutor_bookings|length == 0 %}
                <div style="text-align: center"><h3>You have no upcoming teachings sessions</h3></div>
            {% endif %}
            <ul class="list-group" style="width:800px;  margin-bottom: 50px;">
                {% for booking in tutor_bookings %}
                    <li class="list-group-item">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1">{{ booking.date }}:</h6>
                        </div>
                        <p class="mb-1"><img src="{{ MEDIA_URL }}{{ booking.student.user.avatar }}" alt=""
                                             id="tutorPic">
                            <a href=""><span
                                    style="margin-left:20px;">{{ booking.student.user.name }}:</span></a><span
                                    style="margin-left:20px;">{{ booking.time_start }}</span>
                        </p>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        <br><br>

        <h2 class="centerAlign">Past Bookings</h2>
        {% if past_bookings|length > 0 %}


            <ul class="list-group" style="width:800px; margin-bottom: 50px;">
                {% for booking in past_bookings %}
                    <li class="list-group-item">

                        {% if booking.student.user == user %}
                            <div class="d-flex w-100 justify-content-between">
                                <h6 class="mb-1">{{ booking.date }} - (Learning Session)</h6>
                            </div>
                            <p class="mb-1"><img src="{{ MEDIA_URL }}{{ booking.tutor.user.avatar }}" alt=""
                                                 id="tutorPic"> <a
                                    href=""><span
                                    style="margin-left:20px;">{{ booking.tutor.user.name }}</span></a><span
                                    style="margin-left:20px;">{{ booking.time_start }}</span></p>
                        {% else %}
                            <div class="d-flex w-100 justify-content-between">
                                <h6 class="mb-1">{{ booking.date }} - (Teaching Session)</h6>
                            </div>
                            <p class="mb-1"><img src="{{ MEDIA_URL }}{{ booking.student.user.avatar }}" alt=""
                                                 id="tutorPic"> <a
                                    href=""><span
                                    style="margin-left:20px;">{{ booking.student.user.name }}</span></a><span
                                    style="margin-left:20px;">{{ booking.time_start }}</span></p>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <div style="text-align: center"><h3>You have no past bookings</h3></div>
        {% endif %}


    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to cancel your booking?
                    <br>
                    <div id="failmsg" style="margin-top: 30px;"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="cancelBooking()">Yes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_script %}
    <script type="text/javascript">
        var link = ""
        $('.cancelbtn').click(function () {
            link = $(this).data('link');
            $('#failmsg').html("");
        });

        function cancelBooking() {
            $.post(link, {}, function (response) {
                if (response.status == 'fail') {
                    $('#failmsg').html("<div class='alert alert-danger'>" + response.message + "</div>")
                }
                else {
                    $('#failmsg').html("<div class='alert alert-success'> Booking cancelled! Page will now be reloaded. </div>")
                    setTimeout(function () {
                        location.reload()
                    }, 1500);
                }
            });
        }

    </script>
{% endblock %}