{% extends 'mainApp/topBarWithSearch.html' %}

{% block extra_head %}
<link rel="stylesheet" href="/static/css/landing.css">
{% endblock %}

{% block content %}
<div class="container-fluid" style="margin-top:155px;">
    <h1 class="tealHeading" style="text-align: center">Tutoria Tutor Booking System</h1>
    {{ hash }}
    <br>

    <h3>Welcome to the Home Screen</h3>
    <p>In the Tutoria Tutor Booking System you can book your favourite tutor for help in your studies!</p>
    <p>To get started select the Search Button on the top of the page!</p>
    <p>If you want to manage your profile, bookings or wallet hover on your Profile picture on the top of the page!</p>
</div>


{% endblock %}

