{% extends 'mainApp/topBarWithSearch.html' %}

{% block extra_head %}
<link rel="stylesheet" href="/static/css/profile.css">
<link rel="stylesheet" href="/static/css/common.css">
{% endblock %}

{% block content %}
<div class="container-fluid" style="margin-top:115px; width:600px !important;">
    <div class="centerAlign">
        <img src="/static/assets/img/{{ user.avatar }}" id="bigAvatarPic" alt="">
        <h1>{{ user.name }}</h1>
        <br>
    </div>
    <ul class="list-group" style="width:600px;">
        <li class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Email:</h5>
                <a href="">
                    <small style="color:green">change</small>
                </a>
            </div>
            <p class="mb-1">{{ user.email }}</p>
        </li>
        <li class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Contact Number:</h5>
                <a href="">
                    <small style="color:green">change</small>
                </a>
            </div>
            <p class="mb-1"></p>
        </li>
        <li class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Short Bio:</h5>
                <a href="">
                    <small style="color:green">change</small>
                </a>
            </div>
            <p class="mb-1">Aang was a male Air Nomad born in 12 BG and the Avatar during the century-long conflict
                known as the Hundred Year War. His immediate predecessor was Avatar Roku, and his immediate successor is
                Avatar Korra. As the Avatar of his time, he was the only person capable of using all four bending arts:
                airbending, waterbending, earthbending, and firebending.</p>
        </li>
        <a class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Manage Available Timeslots</h5>
            </div>
        </a>
        <a class="list-group-item list-group-item-action flex-column align-items-start" href="bookings">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">View My Bookings</h5>
            </div>
        </a>
        <a class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Change Password</h5>
            </div>
        </a>
    </ul>

</div>
{% endblock %}