{% extends 'mainApp/topBarWithSearch.html' %}

{% block extra_head %}
    <link rel="stylesheet" href="/static/css/search.css">
    <link rel="stylesheet" href="/static/css/common.css">
{% endblock %}

{% block content %}

    <div class="container-fluid" style="margin-top: 155px; overflow:hidden;">
        <div>
            <h2 class="tealText">Your search returned {{ tutor_list | length }}
                {% if tutor_list|length == 1 %}
                    result:
                {% else %}
                    results:
                {% endif %}
            </h2>
        </div>

        <form action="/mainApp/search" method="post" style="width: 970px;">
            <br>
            <div class="card" style="width: inherit">
                <div class="card-header" role="tab" id="headingOne">
                    <h5 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" href="#collapseOne" aria-expanded="false"
                           aria-controls="collapseOne" style="color: black">
                            Advanced Search
                        </a>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="card-body" style="padding: 20px;">
                        <div class="row">
                            <div class="col-6">
                                <fieldset class="form-group">
                                    <legend>Search By Name</legend>
                                    <label for="lastName">Last Name</label>
                                    <input type="text" name="lastName" id="lastName" class="form-control">
                                    <label for="givenName">Given Name</label>
                                    <input type="text" name="givenName" id="givenName" class="form-control">
                                </fieldset>

                                <fieldset class="form-group form-inline">
                                    <legend>Search by price range</legend>
                                    <input type="text" name="minRate" id="minRate" class="form-control"
                                           placeholder="Minimum">
                                    <span style="margin-left: 15px; margin-right: 15px">to</span>
                                    <input type="text" name="maxRate" id="maxRate" class="form-control"
                                           placeholder="Maximum">
                                </fieldset>

                                <fieldset class="form-group">
                                    <legend>Search by Type</legend>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="tutorType"
                                                   id="tutorTypePrivate"
                                                   value="tutorPrivate">
                                            Private
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="tutorType"
                                                   id="tutorTypeContracted"
                                                   value="tutorContracted">
                                            Contracted
                                        </label>
                                    </div>
                                </fieldset>

                            </div>

                            <div class="col-6">
                                <div class="form-group">
                                    <legend>Search by University Or Course</legend>
                                    <label for="universityName">University Name</label>
                                    <select class="form-control" name="universityName" id="universityName">
                                        <option value="0">---------</option>
                                        {% for university in university_list %}
                                            <option value="{{ university.id }}">{{ university.name }}</option>
                                        {% endfor %}
                                    </select>

                                    <label for="course">Course Name</label>
                                    <select class="form-control" name="course" id="course">
                                        <option value="0">---------</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                   
                                    <fieldset class="form-group">
                                    <legend>Search By Tag</legend>
                                   
                                    <input type="text" name="tagName" id="tagName" class="form-control">
                                   
                                    </fieldset>

                                   
                                </div>

                                <div class="form-group">
                                    <legend for="available">Search by Availability</legend>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" id="available" type="checkbox"
                                                   value="available" name="available">
                                            Only Tutors with an available slot in the next seven days.
                                        </label>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="form-group">
                            <legend for="sort">Sort</legend>
                            <label for="sort">Sorting order</label>
                            <select class="form-control" name="sort" id="sort">
                                <option value="">Select</option>
                                <option value="rateAsc">Cheap to Expensive</option>
                                <option value="rateDesc">Expensive to Cheap</option>
                            </select>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary">Search</button>
                        </div>
                    </div>
                </div>
            </div>


        </form>

    </div>

    <div class="container-fluid" style="width:1000px;margin-top:0px">

        <hr>

        <!--<img src="{{MEDIA_URL}}avatar/20160516_164722.jpg" alt="" class="tutorPic">-->

        <!--<img src="/static/assets/img/zuko.png" alt="" class="tutorPic">-->

        {% load custom_tags %}
        {% for tutor in tutor_list %}
            <div class="row" style="margin-left: 0px;">
                <div class="col-1" style="padding:0px;">
                    <img src="{{ MEDIA_URL }}{{ tutor.user.avatar }}" alt="" class="tutorPic"
                         style="position: relative; top:0px !important;">
                </div>
                <div class="col-2" style="padding: 0px;">
                    <a href="profile/tutor/{{ tutor.id }}"
                       style="color:black; font-size:140%; font-weight:bold; position:relative; top:0px;">{{ tutor.user.name }} {{ tutor.user.last_name }}
                    </a>
                    <br>
                    (
                    {% if tutor|isPrivate %}
                        Private
                    {% else %}
                        Contracted
                    {% endif %}
                    )
                </div>
                <div class="col-5"
                     style="display:inline-block; border:solid black 1px; position:relative; padding:3px;">
                    {{ tutor.shortBio }}
                </div>
                <div class="col-2">
                    <div style="display:inline-block; margin-left:3px;" class="centerAlign"> Rate per Session: <br>
                        {% if tutor.rate %}
                            {% if tutor.rate == 0 %}
                                No Charge!
                            {% else %}
                                HKD{{ tutor.rate|mult:"1.05" }}
                            {% endif %}
                        {% else %}
                            No Charge!
                        {% endif %}
                    </div>
                </div>
                <div class="col-2">
                    <div style="display:inline-block; float:right; position: relative; top: 5px;">
                        <a href="book/{{ tutor.id }}">
                            <button class="btn btn-success btn-md">Book!</button>
                        </a>
                    </div>
                </div>
            </div>
            <br>

        {% endfor %}

    </div>

    <!--<a href="" style="color:black; font-size:140%; font-weight:bold; position:relative; left:35px; top: -7px;">{{tutor_list.name}}</a>-->


{% endblock %}

{% block extra_script %}
    <script type="text/javascript">
        document.getElementById('givenName').value = "{{params.given_name}}";
        document.getElementById('lastName').value = "{{params.last_name}}";
        document.getElementById('universityName').value = "{{params.university}}";
        if ("{{params.tutor_type}}" == "tutorPrivate") {
            document.getElementById('tutorTypePrivate').checked = true;
        } else if ("{{params.tutor_type}}" == "tutorContracted") {
            document.getElementById('tutorTypeContracted').checked = true;
        }
        document.getElementById('sort').value = "{{params.sort}}";
        document.getElementById('tagName').value = "{{params.tag}}";
        document.getElementById('minRate').value = "{{params.min_rate}}";
        document.getElementById('maxRate').value = "{{params.max_rate}}";
        // TODO fix this course doesnt work
        document.getElementById('course').value = "{{params.course}}";
{#        alert("{{ params.available }}")#}
        if ("{{params.available}}" != "") {
            document.getElementById('available').checked = true;
        } else {
            document.getElementById('available').checked = false;
        }


        $(document).on("click", '#universityName', function (e) {
            var university = $(this).val();

            $.ajax({
                type: "POST",
                data: {university: university},
                url: '/mainApp/getUniCourses',
                dataType: 'json',
                success: function (json) {

                    var $el = $("#course");
                    $el.empty(); // remove old options
                    $el.append($("<option></option>")
                        .attr("value", '0').text('---------'));
                    $.each(json, function (value, key) {
                        $el.append($("<option></option>")
                            .attr("value", value).text(key));
                    });


                }
            });

        });

        var allRadios = document.getElementsByName('tutorType');
        var booRadio;
        var x = 0;
        for(x = 0; x < allRadios.length; x++){

            allRadios[x].onclick = function() {
                if(booRadio == this){
                    this.checked = false;
                    booRadio = null;
                }else{
                    booRadio = this;
                }
            };
        }
    </script>
{% endblock %}