{% extends 'mainApp/topBarWithSearch.html' %}

{% block extra_head %}
    <link rel="stylesheet" href="/static/css/profile.css">
    <link rel="stylesheet" href="/static/css/common.css">
{% endblock %}

{% block content %}
    <div class="container-fluid" style="margin-top:115px; width:600px !important;">
        <div class="centerAlign">
            <img src="/static/assets/img/{{ user.avatar }}" id="bigAvatarPic" alt="">
            <h1>{{ user.name }}</h1>
            <h2>Transaction History</h2>
            <br>
        </div>
        {% if transactions|length == 0 %}
            <div class="alert alert-info" style="text-align: center">
                <h1>No Transaction History</h1>
            </div>
        {% endif %}
        <ul class="list-group" style="width:600px;">
            {% for record in transactions %}
                <li class="list-group-item">
                    <div class="d-flex w-100 justify-content-between">
                        {% load custom_tags %}
                        {% if record|isSessionTransaction %}
                            {% if record.booking_id.tutor.user == user %}
                                You taught {{ record.booking_id.student.user.name }} on {{ record.booking_id.date }} at
                                {{ record.booking_id.time_start }}:
                                </div>
                                <p class="mb-1">{{ record.tutorCharges }}</p>
                            {% else %}
                                You
                                {% if record.transaction_nature == "SESSIONBOOKED" %}
                                    booked
                                {% else %}
                                    cancelled
                                {% endif %}
                                a session with {{ record.booking_id.tutor.user.name }} for {{ record.booking_id.date }}
                                at
                                {{ record.booking_id.time_start }}:

                                </div>
                                <p>Transaction Date and Time:{{ record.date }} {{ record.time }}
                                    <br>Transaction Amount: HKD {{ record.amount }}</p>
                            {% endif %}
                        {% else %}
                            You
                            {% if record.transaction_nature == "FUNDSADDED" %}
                                added funds to
                            {% else %}
                                withdrew funds from
                            {% endif %}
                            your wallet:
                            </div>
                            <p>Transaction Date and Time:{{ record.date }} {{ record.time }}
                            <br>Transaction Amount: HKD {{ record.amount }}</span>
                        {% endif %}

                </li>
            {% endfor %}
    </ul>
    </div>
{% endblock %}
