{% extends 'mainApp/topBarWithSearch.html' %}

{% block extra_head %}
    <link rel="stylesheet" href="/static/css/profile.css">
    <link rel="stylesheet" href="/static/css/common.css">
{% endblock %}

{% block content %}
    <div class="container-fluid" style="margin-top:115px; width:600px !important;">
        <div class="centerAlign">
            <img src="/static/assets/img/{{ user.avatar }}" id="bigAvatarPic" alt="">
            <h1>{{ user.name }}</h1>
            <h2>Transaction History</h2>
            <br>
        </div>
        {% if transactions|length == 0 %}
            <div class="alert alert-info" style="text-align: center">
            <h1>No Transaction History</h1>
            </div>
        {% endif %}
        <ul class="list-group" style="width:600px;">
            {% for record in transactions %}
                <li class="list-group-item">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ record.nature }}</h5>
                    </div>
                    <p class="mb-1">{{ record.amount }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
