{% extends 'mainApp/topBarWithSearch.html' %}

{% block extra_head %}
    <link rel="stylesheet" href="/static/css/profile.css">
    <link rel="stylesheet" href="/static/css/common.css">
{% endblock %}

{% block content %}
    <div class="container-fluid" style="margin-top:115px; width:600px !important;">
        <div class="centerAlign">
            <img src="/static/assets/img/{{ tutor.user.avatar }}" id="bigAvatarPic" alt="">
            <h1>{{ tutor.user.name }} {{tutor.user.last_name}}</h1>
            <br>
        </div>
        <ul class="list-group" style="width:600px;">
            <li class="list-group-item">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Email:</h5>
                </div>
                <p class="mb-1">{{ tutor.user.email }}</p>
            </li>
            <li class="list-group-item">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Contact Number:</h5>
                </div>
                <p class="mb-1">{{ tutor.user.contact }}</p>
            </li>
            <li class="list-group-item">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Bio:</h5>
                </div>
                <p class="mb-1">{{ tutor.shortBio }}</p>
            </li>
           
            
            <li class="list-group-item">
                <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Student reviews:</h5>
            </div>
                {% if reviews %}

                 <ul class="list-group" style="width:600px;">
                
                 
                
                
                {% for review in reviews %}
                <li class="list-group-item">
                
                {% if review.reviewtype == "ANONYMOUS" %}
                <img src="/static/assets/img/anon.png" id="AvatarPic" alt="">
                
                <p><b>Anonymous:</b> 
                

                {% else %}
                <img src="/static/assets/img/{{review.student.user.avatar}}" id="AvatarPic" alt="">

                
                <p><b>{{ review.student.user.name }}:</b>

                {% endif %}

                <i> {{ review.content }}</i><br>Score: {{ review.rating }}/5 </p>

          
                </li>
                
                {% endfor %}
            </ul>

            {% else %}
            <p class="mb-1">This tutor has not been reviewed yet</p>
            {% endif %}

            </li>
            <li class="list-group-item">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Average review score:</h5>
                </div>
                {% if rating == -1 %}
                <p class="mb-1">N/A</p>
                {% else %}
                <p class="mb-1">{{ rating|floatformat:2 }} out of 5</p>
                {% endif %}
            </li>
            <li class="list-group-item">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Tutor Type:</h5>
                </div>
               {% load custom_tags %}
                {% if tutor|isPrivate == True %}
                    <p class="mb-1">Private</p>
                {% else %}
                    <p class="mb-1">Contracted</p>
                {% endif %}
            </li>
             <li class="list-group-item">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Session Rate:</h5>
                </div>
                
                {% if tutor|isPrivate == True %}
                <p class="mb-1">{{ tutor.rate|mult:"1.05" }}</p>
                {% else %}
                <p class="mb-1">No charge!</p>
                {% endif %}
             
               
            </li>
            <li class="list-group-item">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Courses:</h5>
                </div>
                <p>
                    {% for course in courses %}
                        {{ course.code }}: {{ course.title }}: {{ course.university }}
                        <br>
                    {% endfor %}
                </p>
            </li>
            <li class="list-group-item">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Subject Tags:</h5>
                </div>
                <p class="mb-1">
                    {% for tag in tags %}
                        {{ tag.tag_name }}
                        <br>
                    {% endfor %}
                </p>
            </li>
        </ul>

        <div style="text-align: center; margin-top: 25px; margin-bottom: 35px;">
            <a href="/mainApp/book/{{ tutor.id }}" style="margin-right: auto; margin-left: auto;">
                <button class="btn btn-success btn-lg">Book!</button>
            </a>
        </div>

    </div>
{% endblock %}
