.table, .table td, .table th {
    border: solid 1px;
    border-color: black !important;
}

.unavailable {
    background-color: grey !important;
}

.bookedunavailable {
    background-color: darkgrey !important;
}

.bookedunavailable {
    background-color: black !important;
}

.booked {
    background-color: brown !important;
}
